*{
    margin: 0;
    padding: 0;
}
button{
    border: soloid 10px;
    background-color: blue;
    border-radius: 40px;
}
button:hover{
  background-image: linear-gradient(black,white);
}
body{
padding: 10px;
}